@{
  Layout = "_Layout"; // this Razor code block indicates standard layout from _Layout.cshtml
}

<h1>Welcome to the To Do List!</h1>

<p>I like the color @ViewBag.MyFavoriteColor.</p> <!-- ViewBag data shown in View -->

<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>