<h1>Add a new item to @Model.Name</h1> <!-- shows Category name -->

<form action="/categories/@Model.Id/items" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id"> <!-- Will link new Item with the correct category. However, this input is hidden - users won't see it - Passes the Category ID alongside the users for input -->
  <label for="itemDescription">Item Description</label>
  <input id="itemDescription" name="itemDescription" type="text">
  <button type='submit'>Add Item</button>
</form>