<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

@using ToDoList.Models;

<h3>Here are all the items in this category:</h3>

<ol>
@foreach (var item in @Model["items"]) // replace Item with 'var' if broken. lesson 37
{
  <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Description</a></li>
}
</ol>

<p><a href='/categories/@Model["category"].Id/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>

<!-- lesson 36 to review what is going on here -->